<!doctype html>
<html lang="">
  <head>
    <!-- Base   -->
    <title><%= title %></title>
    <meta charset="UTF-8" />
    <meta name="robots" content="<%= robotsMeta %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="shortcut icon" href="<%= icon64Fav %>" />
    <link rel="apple-touch-icon" sizes="57x57" href="<%= icon57 %>" />
    <link rel="apple-touch-icon" sizes="72x72" href="<%= icon72 %>" />
    <link rel="apple-touch-icon" sizes="76x76" href="<%= icon76 %>" />
    <link rel="apple-touch-icon" sizes="114x114" href="<%= icon114 %>" />
    <link rel="apple-touch-icon" sizes="120x120" href="<%= icon120 %>" />
    <link rel="apple-touch-icon" sizes="144x144" href="<%= icon144 %>" />
    <link rel="apple-touch-icon" sizes="152x152" href="<%= icon152 %>" />
    <link rel="apple-touch-icon" sizes="180x180" href="<%= icon180 %>" />
  </head>
  <body>
    <div id="root"></div>
    <script type="module" src="/src/main.tsx"></script>
  </body>
</html>
